
* {
    margin: 0%;
    padding: 0%;
}

.top-header {
    padding: 30px;
    margin-left: 70px ;
}
.title-menu {
    font-size: 128px;
    font-family: 'Comic Sans MS';
}

.sub-title {
    /* margin-left: 40px; */
    font-size: 32px;
    transform: translateY(-20px);
}

.menu-names {
    /* padding: 30px; */
    margin-left: 100px ;
}


.list-items {
    transform: translateX(-80px);
}

.menu-name {
    margin-left: 80px;
}

span {
    color: brown;
    left: 150px;
}