
* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #183D3D;
}

.title- {
    position: relative;
    padding-top: 40px;
    color: #fff;
}

nav {
    background-color: #040D12;
    display: grid;
    text-align: center;
    color: #fff;
}



.container {
    max-width: 1200px;
    margin: 10vh auto;
    padding: 2rem;
    background-color: #040D12;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.sub-container {
    max-width: 1000px;
    background-color: #ccc;
    padding: 40px;  
    margin: 40px;
    border: 2px solid #5C8374;
    border-radius: 15px;
    transition:ease-in-out 500ms;

}

a {
    padding: 15px 30px;
    margin-left: 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: ease 600ms;
}

.sub-container:hover {
    background-color: #969393;
}

a:hover {
    background-color: #ccc;
    color: #183D3D;
}


img {
    max-width: 400px;
    aspect-ratio: 16/10;
    padding-left: 30px;
    margin: 30px 10px;
}

.sub-sub-div {
    display: flex;
    flex-direction: row;
}

p {
    padding-left: 30px;
}